@model MyMoneyGone.Models.CreateExpenseViewModel


@{
    ViewData["Title"] = "Create";
}

<script type="text/javascript"></script>
<script>
    function onSelectTag(tagId) {
        document.getElementById("selectedTag" + tagId).style.display = "block";

        var tagElement = document.getElementById("selectedOptions");

        for (var i = 0;i<tagElement.options.length;i++) {
            if (tagElement.options[i].value==tagId) {
                  tagElement.options[i].selected=true
                  break;
            }
        }
    }
    function onDeselectTag(tagId) {
        document.getElementById("selectedTag" + tagId).style.display = "none";

        var tagElement = document.getElementById("selectedOptions");

        for (var i = 0;i<tagElement.options.length;i++) {
            if (tagElement.options[i].value==tagId) {
                  tagElement.options[i].selected=false
                  break;
            }
        }
    }
    function onSelectCreditor(creditorId) {
        document.getElementById("selectedCreditor" + creditorId).style.display = "block";

        var creditorElement = document.getElementById("selectedCreditor");

        for (var i = 0;i<creditorElement.options.length;i++) {
            if (creditorElement.options[i].value==creditorId) {
                  creditorElement.options[i].selected=true
                  break;
            }
        }
    }
    function onDeselectCreditor(creditorId) {
        document.getElementById("selectedCreditor" + creditorId).style.display = "none";

        var creditorElement = document.getElementById("selectedCreditor");

        for (var i = 0;i<creditorElement.options.length;i++) {
            if (creditorElement.options[i].value==creditorId) {
                  creditorElement.options[i].selected=false
                  break;
            }
        }
    }
</script>

<h1>Create</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExpenseDate" class="control-label"></label>
                <input asp-for="ExpenseDate" class="form-control" value="@Model.ExpenseDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreditorId" class="control-label"></label>
                <select id="selectedCreditor" asp-for="CreditorId" class="form-control"
                        asp-items="@Model.CreditorList">
                </select>
                <span asp-validation-for="CreditorId" class="text-danger"></span>
                <div id="selectedCreditor">
                    @foreach (var creditor in Model.CreditorList)
                    {
                        var id = "selectedCreditor" + creditor.Value;
                        <span style="display: none; float: left; margin-right: 2px;" id=@id class="badge badge-pill badge-success" onclick="onDeselectCreditor('@creditor.Value')">@creditor.Text</span>
                    }
                </div>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" value="@Model.Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagIds" class="control-label"></label>
                <select hidden id="selectedOptions" asp-for="TagIds" asp-items="@(IEnumerable<SelectListItem>)ViewBag.Tags"></select>
                <span asp-validation-for="TagIds" class="text-danger"></span>
                <div id="selectedTags">
                    @foreach (var tag in ViewBag.Tags)
                    {
                        var id = "selectedTag" + tag.Value;
                        <span style="display: none;float: left;margin-right: 2px;" id=@id class="badge badge-pill badge-success" onclick="onDeselectTag('@tag.Value')">@tag.Text</span>
                    }
                </div>
                <br />
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control number" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">

        <div width="100%">
            Available tags
        </div>
        @foreach (var tag in ViewBag.Tags)
        {
            var id = "availableTag" + tag.Value;
            <span id=@id class="badge badge-pill badge-primary" onclick="onSelectTag('@tag.Value')">@tag.Text</span>

        }
    </div>
    <div class="col-md-4">

        <div width="100%">
            Available creditors
        </div>
        @foreach (var creditor in Model.CreditorList)
        {
            var id = "availableCreditors" + creditor.Value;
            <span id=@id class="badge badge-pill badge-primary" onclick="onSelectCreditor('@creditor.Value')">@creditor.Text</span>

        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}




}